.loginHolder {
  background-color: rgba(0, 0, 0, 0.774);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputHolder {
  /* background: red; */
  display: flex;
  width: 60% !important;
  justify-content: space-around;
  margin: auto !important;
  margin-top: 2% !important;
}
.inputFiled {
  width: 70%;
}
