.cardContainer {
  /* background: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dp {
  width: 70px;
  text-align: center;
}
.dp img {
  width: 100%;
  border-radius: 50%;
}
.card {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 200px; */
  background: rgb(228, 222, 222);
  margin: 2%;
}
